@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 2px 6px 3px #ab21ce;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 2px 6px 3px #18b201;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 2px 6px 3px #8909a3;
    }
}
@keyframes disappear {
    to {
        transform: scale(0);
    }

}
@keyframes apparition {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
/*@keyframes test-animation {
    from {
      width: 0px;
    }

    to {
      width: 100px;
    }
  }*/