body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0;
    @include flex_column;

}

/*section localisation des resturants*/
.localisation-restaurants {
    @include flex;
    gap: 17px;
    height: 50px;
    background: $Grey-2;

    h1 {
        @include font(24px, 700);
        text-align: center;
    }

    p {
        @include font(18px, 300);
        text-align: center;
        color: $black
    }
}


//* section exploration*//
.explorer {
    @include flex;
    flex-direction: column;
    gap: 50px;
    background: $grey-light;

    h1 {
        margin-top: 39px;
        @include margin(42px, 58px);
        font-weight: 700;
        text-align: center;
    }

    p {
        @include font(18px, 300);
        color: $black;
        @include margin(34px, 26px);
    }
}

.btn {
    background: linear-gradient(180deg, $color-secondaire 0%, $color-primaire 100%);
    border: transparent;
    position: relative;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 57px;
    color: $white;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    @include font(16px, 500);

    &:hover {
        background-image: lighten (#FF79DA, 200);
        box-shadow: 0px 4px 15px 0px darken(rgba(0, 0, 0, 0.35), 15%);
        filter: brightness(1.2);
        transform: scaleZ(0.5);
    }

}

//*section fonctionnement*//
.fonctionnement {
    padding: 20px;

    @media(min-width:1025px) {
        padding: 50px 180px;
    }


    h2 {
        @include font(24px, 700);

        padding-bottom: 26px;
    }

    ul {
        @include flex_column;


        @media(min-width: 1025px) {
            flex-direction: row;
            gap: 25px;

        }
    }

    .step {
        display: flex;
        gap: 27px;
        justify-content: start;
        align-items: center;
        height: 72px;
        width: 100%;
        margin-bottom: 25px;
        border-radius: 20px;
        background: $grey-light;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        margin-right: 20px;


        &_number {
            width: 24px;
            height: 24px;
            color: $white;
            background: $color-primaire;
            border-radius: 50%;
            font-weight: 500;
            padding: 5px 0.7px 4px 8px;
            margin-left: -12px;

        }

        &_title {
            @include font(16px, 500);

        }

        .fa-store {
            color: $color-primaire;
        }
    }



}


//*section restaurants *//
.restaurants {
    @media(min-width:1025px) {
        gap: 28px;
        padding-left: 180px;
        padding-right: 180px;
        margin-top: 30px;

    }

    @include flex_column;
    gap: 20px;
    background: $grey-light;

    h2 {
        padding-left: 20px;
        font-weight: 700;
        margin-top: 54px;
    }

    .restaurants_cards {
        @include flex_column;
        align-items: start;
        gap: 18px;
        padding-left: 17px;
        padding-right: 18px;
        margin-bottom: 66px;

        @media(min-width:1025px) {
            flex-flow: row wrap;
            align-items: start;
            justify-content: space-between;
            padding: 0;
            gap: 50px;
            margin-bottom: 30px;

        }

        .card {
            position: relative;
            background: $white;
            @include flex_column;
            width: 100%;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            border-radius: 15px 15px 15px 15px;
            cursor: pointer;

            @media(min-width:1025px) {
                width: 44%;
                padding: 0;
            }

            &_img {
                object-fit: cover;
                height: 231px;
                width: 100%;
                border-radius: 15px 15px 0px 0px;
            }

            &_content {
                @include flex_row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;
                position: relative;
            }

            &_title {
                @include font(18px, 700);
                padding-left: 13px;

            }

            &_subtitle {
                @include font(17px, 300);
                padding-left: 13px;

            }

        }

    }

    .new_btn {
        position: absolute;
        top: -226px;
        right: 26px;
        border: #008766;
        text-align: center;
        @include font(14px, 500);
        border-radius: 3px;
        padding: 5px 10px 7px 9px;
        width: 80px;
        height: 29px;
        background-color: $green;
        color: $color-green;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    }
}


.like_btne {
    background: transparent;
    position: absolute;
    bottom: 26px;
    right: 26px;
    display: block;
    font-size: 26px;

    &:hover {
        cursor: pointer;
        font-weight: 700;
        background-image: linear-gradient(180deg, $color-secondaire , $color-primaire );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        -moz-background-clip: text;
        animation: empty-heart 0.5s ease-in-out forwards;

    }

}

.like_btnf {
    background-image: transparent;
    opacity: 0;
     position: absolute;
    bottom: 26px;
    right: 26px;
    width: 22px;
    height: 21px;
    font-weight: 700;
    background-image: linear-gradient(180deg, $color-secondaire , $color-primaire );
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -moz-background-clip: text;
    transition: opacity 0.5s ease-in-out;

    &:hover {
        opacity: 1;

    }
}
.loader {
    background: #F6F6F6;
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    animation: disappear 1.5s 1.5s forwards;

    span {
        color: $color-secondaire;
        font-size: 24px;
        letter-spacing: 1px;
        font-family: Shrikhand, cursive;
        line-height: 200px;
        animation: text 5s ease-in-out infinite;
    }

}

.ring {
    position: fixed;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
    z-index: 2;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 2px 6px 3px #ab21ce;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 2px 6px 3px #18b201;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 2px 6px 3px #8909a3;
    }
}

.ring:before {
    position: fixed;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);

}

@keyframes text {
    50% {
        color: $color-primaire;
    }
}



.coeur{
    position: absolute;
    width: 22px;
    height: 21px;
    right: 0;
    top:20px;

}