.button {
    &.primary {
        border-radius: 25px;
        text-align: center;
        background: var(--Button-Gradient, linear-gradient(193deg, $primary -11.44%, $secondary 123.93%));
        color: #FFF;
        padding: 13px 16px;
        margin-top: 20px;
        border: none;
        @include text-button;
    }

    &.new {
        color: #008766;
        background-color: #99E2D0;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        padding: 7px 9px;
        border-radius: 3px;
        border: none;
    }
}