.footer {
    display: block;
    background: $black;
    padding: 22px 25px;

    &_title {
        font-family: Shrikhand, cursive;
        font-weight: 400;
        color: $white;
        margin-bottom: 16px;

        @media (min-width:1025px) {
            padding: 23px 25px;

        }

    }

    &_link {
        @include flex_column;
        justify-content: start;
        gap: 7px;
        padding-left: 0;

        @media(min-width :1025px) {
            flex-direction: row;
            gap: 12px;
            padding: 30px 25px;
        }
    }

    li {
       @include flex_row;
        justify-content: start;
        gap: 11px;

        i {
            color: $white;
        }

        p, a {
            color: $white;
            @include font(16px, 500);
            @include font(16px, 400);
        }
    }

    address {
        font-style: normal;
    }

    @media(min-width :1025px) {
        display: flex;
        flex-direction: row-reverse;
        gap: 16px;
        padding: 30px 25px;
        height: 114px;
    }
}