
/* General */
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: #000;
    line-height: normal;
}

h1,h2 {
    font-size: 22px;
    color: #000;
}