.header_menu {
    @include flex;
    justify-content: center;
    padding: 14px 89px 13px 17px;
    background: $white;
    gap: 88px;

    .logo_menu {
        width: 197px;
        height: 36px;
        padding: 0px 19px 0px 16px;
    }

}

.menu {
    position: relative;
    @include flex_column;
    gap: 40px;

    &_img {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }

    &_content {
        background: $Grey-2;
        border-radius: 40px 40px 0px 0px;
        margin-top: -100px;

        @media (min-width:1025px) {
            margin-left: 193px;
        }
    }


    &_info {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 40px;
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 31px;

    }

    &_title {
        color: var(--Black, #101010);
        font-family: Shrikhand;
        @include font(28px, 400);


    }

    .like_btn {
        top: 42px;
    }

    &_plats {
        @include flex_column;
        justify-content: center;
        gap: 20px;
    }

    .plat_list {
        @include flex_column;
        gap: 12px;

        .underline_title {
            text-transform: uppercase;
            @include font(16px, 300);
            margin-left: 13px;

            &::after {
                font-size: 256px;
                content: " ";
                display: block;
                height: 0px;
                width: 40px;
                margin-top: 6px;
                border-bottom: solid 3px #99E2D0;
            }
        }

        .plat {
            @include flex_row;
            height: 69px;
            justify-content: space-between;
            background: $white;
            border-radius: 15px 15px;
            box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
            margin: 10px;
            animation: apparition 1.5s;

            &.n1 {
                animation-delay: 0;
            }

            &.n2 {
                animation-delay: 0.2s;
            }

            &.n3 {
                animation-delay: 0.4s;
            }

            &.n4 {
                animation-delay: 0.6s;
            }

            &.n5 {
                animation-delay: 0.8s;
            }

            &.n6 {
                animation-delay: 1s;
            }

            &.n7 {
                animation-delay: 1.2s;
            }

            &.n8 {

                animation-delay: 1.4s;
            }

            &.n9 {
                animation-delay: 1.6s;
            }

            .n_supplementaire {
                animation-delay: 0.5s;
            }

            &_info {
                display: flex;
                flex-direction: column;
            }

            &_title {
                @include font(18px, 700);
                padding-left: 13px;
                margin-top: 13px;
                text-overflow: ellipsis;
            }

            &_subtitle {
                @include font(17px, 300);
                padding-left: 13px;
                text-overflow: ellipsis;
            }

            &_price {
                position: absolute;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-weight: bold;
                margin-top: 30px;
                right: 24px;
            }

            .plat_confirmation {
                background: #99e2d0;
                cursor: pointer;
                height: auto;
                width: 0;
                opacity: 0;
                border-radius: 0 15px 15px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
            }

            i {
                color: $white;
            }

            &:hover .plat_confirmation {
                cursor: pointer;
                opacity: 1;
                width: 59px;
            }
        }


        
    }

}










.commande {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}