/*mixins*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;500;700&family=Shrikhand&display=swap');
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin font($size,$weight){
    font-size: $size;
    font-weight: $weight;

}
   
@mixin flex_column{
    display: flex;
    flex-direction: column; 
    
}
@mixin flex_row{
    display: flex;
    flex-direction: row;
}
@mixin margin($margin-left,$margin-right){
    margin-left: $margin-left;
    margin-right: $margin-right;
}
@mixin width_height($width,$height){
    width:$width;
    height:$height;
}