/********Reset.css*****/
/*
  1. Use a more-intuitive box-sizing model.
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Les variable*/
/**color**/
@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 2px 6px 3px #ab21ce;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 2px 6px 3px #18b201;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 2px 6px 3px #8909a3;
  }
}
@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/*@keyframes test-animation {
    from {
      width: 0px;
    }

    to {
      width: 100px;
    }
  }*/
/*mixins*/
body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/*section localisation des resturants*/
.localisation-restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  background: #EAEAEA;
}
.localisation-restaurants h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.localisation-restaurants p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #353535;
}

.explorer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background: #F6F6F6;
}
.explorer h1 {
  margin-top: 39px;
  margin-left: 42px;
  margin-right: 58px;
  font-weight: 700;
  text-align: center;
}
.explorer p {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  margin-left: 34px;
  margin-right: 26px;
}

.btn {
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  border: transparent;
  position: relative;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 57px;
  color: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 500;
}
.btn:hover {
  background-image: lighten #FF79DA, 200;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  filter: brightness(1.2);
  transform: scaleZ(0.5);
}

.fonctionnement {
  padding: 20px;
}
@media (min-width: 1025px) {
  .fonctionnement {
    padding: 50px 180px;
  }
}
.fonctionnement h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 26px;
}
.fonctionnement ul {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1025px) {
  .fonctionnement ul {
    flex-direction: row;
    gap: 25px;
  }
}
.fonctionnement .step {
  display: flex;
  gap: 27px;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 72px;
  margin-bottom: 25px;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-right: 20px;
}
.fonctionnement .step_number {
  width: 24px;
  height: 24px;
  color: #FFF;
  background: #9356DC;
  border-radius: 50%;
  font-weight: 500;
  padding: 5px 0.7px 4px 8px;
  margin-left: -12px;
}
.fonctionnement .step_title {
  font-size: 16px;
  font-weight: 500;
}
.fonctionnement .step .fa-store {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #F6F6F6;
}
@media (min-width: 1025px) {
  .restaurants {
    gap: 28px;
    padding-left: 180px;
    padding-right: 180px;
    margin-top: 30px;
  }
}
.restaurants h2 {
  padding-left: 20px;
  font-weight: 700;
  margin-top: 54px;
}
.restaurants .restaurants_cards {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 18px;
  padding-left: 17px;
  padding-right: 18px;
  margin-bottom: 66px;
}
@media (min-width: 1025px) {
  .restaurants .restaurants_cards {
    flex-flow: row wrap;
    align-items: start;
    justify-content: space-between;
    padding: 0;
    gap: 50px;
    margin-bottom: 30px;
  }
}
.restaurants .restaurants_cards .card {
  position: relative;
  background: #FFF;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
}
@media (min-width: 1025px) {
  .restaurants .restaurants_cards .card {
    width: 44%;
    padding: 0;
  }
}
.restaurants .restaurants_cards .card_img {
  object-fit: cover;
  width: 100%;
  height: 231px;
  border-radius: 15px 15px 0px 0px;
}
.restaurants .restaurants_cards .card_content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  position: relative;
  margin-bottom: 15px;
}
.restaurants .restaurants_cards .card_title {
  font-size: 18px;
  font-weight: 700;
  padding-left: 13px;
}
.restaurants .restaurants_cards .card_subtitle {
  font-size: 17px;
  font-weight: 300;
  padding-left: 13px;
}
.restaurants .new_btn {
  position: absolute;
  top: -226px;
  right: 26px;
  border: #008766;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  padding: 5px 10px 7px 9px;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  color: #008766;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.coeur {
  position: relative;
}

.like_btn {
  bottom: -11px;
}
@media (min-width: 1025px) {
  .like_btn {
    right: -39px;
  }
}

.like_btne {
  background: transparent;
  position: absolute;
  bottom: 26px;
  right: 26px;
  display: block;
  font-size: 26px;
}

.like_btnf {
  background-color: transparent;
  opacity: 0;
  position: absolute;
  bottom: 26px;
  right: 26px;
  font-size: 26px;
  font-weight: 700;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transition: opacity 0.5s ease-in-out;
}
.like_btnf:hover {
  opacity: 1;
  cursor: pointer;
}

.loader {
  background: #F6F6F6;
  position: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  animation: disappear 1.5s 1.5s forwards;
}
.loader span {
  color: #FF79DA;
  font-size: 24px;
  letter-spacing: 1px;
  font-family: Shrikhand, cursive;
  line-height: 200px;
  animation: text 5s ease-in-out;
}

.ring {
  position: fixed;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
  z-index: 2;
}

.ring:before {
  position: f;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

@keyframes text {
  50% {
    color: #9356DC;
  }
}
.coeur {
  position: absolute;
  width: 22px;
  height: 21px;
  right: 0;
  top: 20px;
}

/*header*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 89px 13px 89px;
  background: #FFF;
}
header .logo {
  width: 197px;
  height: 36px;
}

.footer {
  display: block;
  background: #353535;
  padding: 22px 25px;
}
.footer_title {
  font-family: Shrikhand, cursive;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 16px;
}
@media (min-width: 1025px) {
  .footer_title {
    padding: 23px 25px;
  }
}
.footer_link {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 7px;
  padding-left: 0;
}
@media (min-width: 1025px) {
  .footer_link {
    flex-direction: row;
    gap: 12px;
    padding: 30px 25px;
  }
}
.footer li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 11px;
}
.footer li i {
  color: #FFF;
}
.footer li p,
.footer li a {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  font-size: 16px;
  font-weight: 400;
}
.footer address {
  font-style: normal;
}
@media (min-width: 1025px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    padding: 30px 25px;
    height: 114px;
  }
}

.header_menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 14px 89px 13px 17px;
  background: #FFF;
  gap: 88px;
}
.header_menu .logo_menu {
  width: 197px;
  height: 36px;
  padding: 0px 19px 0px 16px;
}
.header_menu a {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 25px;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu_img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
@media (min-width: 1025px) {
  .menu_img {
    width: 100%;
    height: 400px;
  }
}
.menu_content {
  background: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  margin-top: -100px;
  padding: 20px;
}
@media (min-width: 1025px) {
  .menu_content {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
  }
}
.menu .coeur {
  position: relative;
}
.menu .like_btn {
  bottom: 8px;
}
@media (min-width: 1025px) {
  .menu .like_btn {
    right: -39px;
  }
}
.menu_info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 100%;
}
@media (min-width: 1025px) {
  .menu_info {
    justify-content: center;
  }
}
.menu_title {
  color: var(--Black, #101010);
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
}
.menu .plat_list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}
.menu .plat_list .underline_title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
}
.menu .plat_list .underline_title::after {
  font-size: 256px;
  content: " ";
  display: block;
  width: 40px;
  height: 0px;
  margin-top: 6px;
  border-bottom: solid 3px #99E2D0;
}
.menu .plat_list .plat {
  display: flex;
  flex-direction: row;
  height: 69px;
  gap: 5px;
  background: #FFF;
  border-radius: 15px 15px;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  margin: 10px;
  animation: apparition 1.5s forwards;
  margin-right: 14px;
  opacity: 0;
  cursor: pointer;
}
.menu .plat_list .plat.n1 {
  animation-delay: 0;
}
.menu .plat_list .plat.n2 {
  animation-delay: 0.2s;
}
.menu .plat_list .plat.n3 {
  animation-delay: 0.4s;
}
.menu .plat_list .plat.n4 {
  animation-delay: 0.6s;
}
.menu .plat_list .plat.n5 {
  animation-delay: 0.8s;
}
.menu .plat_list .plat.n6 {
  animation-delay: 1s;
}
.menu .plat_list .plat.n7 {
  animation-delay: 1.2s;
}
.menu .plat_list .plat.n8 {
  animation-delay: 1.4s;
}
.menu .plat_list .plat.n9 {
  animation-delay: 1.6s;
}
.menu .plat_list .plat .n_supplementaire {
  animation-delay: 0.5s;
}
.menu .plat_list .plat_info {
  display: flex;
  flex-direction: column;
  margin: 10px;
  line-height: 25px;
  width: 88%;
  overflow: hidden;
}
.menu .plat_list .plat_title {
  font-size: 18px;
  font-weight: 700;
  padding-left: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu .plat_list .plat_subtitle {
  font-size: 17px;
  font-weight: 300;
  padding-left: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu .plat_list .plat_price {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  margin-top: 30px;
  margin-right: 20px;
}
.menu .plat_list .plat .plat_confirmation {
  background: #99e2d0;
  cursor: pointer;
  height: auto;
  width: 0;
  opacity: 0;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.menu .plat_list .plat i {
  color: #FFF;
}
.menu .plat_list .plat:hover .plat_confirmation {
  cursor: pointer;
  opacity: 1;
  width: 59px;
}

.commande {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

/****** General ***********/
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: #000;
  line-height: normal;
}

h1, h2 {
  font-size: 22px;
  color: #000;
}

/*# sourceMappingURL=style.css.map */
